/* line 4, sass/megafilter.scss */
.mfilter-content {
  border: none;
  /*.mfilter-button*/
}
/* line 7, sass/megafilter.scss */
.mfilter-content .mfilter-button .mfilter-button-reset {
  color: #da5652;
  margin-left: 0;
}
/* line 14, sass/megafilter.scss */
.mfilter-content > ul > li {
  margin-bottom: 20px;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #dedede;
  /*.mfilter-heading*/
  /*.mfilter-content-opts*/
}
/* line 19, sass/megafilter.scss */
.mfilter-content > ul > li .mfilter-heading {
  background: #fbfbfb;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 24, sass/megafilter.scss */
.mfilter-content > ul > li .mfilter-heading .mfilter-heading-content {
  padding: 0;
  padding-top: 14px;
  padding-bottom: 14px;
}
/* line 28, sass/megafilter.scss */
.mfilter-content > ul > li .mfilter-heading .mfilter-heading-content .mfilter-heading-text {
  width: 80%;
  margin-left: 0;
}
/* line 31, sass/megafilter.scss */
.mfilter-content > ul > li .mfilter-heading .mfilter-heading-content .mfilter-heading-text span {
  color: #016aa5;
  font-size: 14px;
  font-family: HelveticaMedium;
  text-transform: uppercase;
  padding-left: 24px;
}
/* line 39, sass/megafilter.scss */
.mfilter-content > ul > li .mfilter-heading .mfilter-heading-content .mfilter-head-icon {
  margin-right: 12px;
}
/* line 45, sass/megafilter.scss */
.mfilter-content > ul > li .mfilter-collapsed {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 49, sass/megafilter.scss */
.mfilter-content > ul > li .mfilter-content-opts {
  background: #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  /*.mfilter-live-filter*/
  /*.mfilter-opts-container*/
  /*.mfilter-live-filter*/
}
/* line 54, sass/megafilter.scss */
.mfilter-content > ul > li .mfilter-content-opts .mfilter-live-filter input[type="text"] {
  background-position: -9px -98px;
}
/* line 59, sass/megafilter.scss */
.mfilter-content > ul > li .mfilter-content-opts .mfilter-opts-container {
  border-top: 1px solid #e4e4e4;
  /*.mfilter-options*/
}
/* line 61, sass/megafilter.scss */
.mfilter-content > ul > li .mfilter-content-opts .mfilter-opts-container .mfilter-options {
  padding: 0;
  padding-left: 24px;
  /*.mfilter-tb*/
}
/* line 64, sass/megafilter.scss */
.mfilter-content > ul > li .mfilter-content-opts .mfilter-opts-container .mfilter-options .mfilter-tb {
  display: block;
  /*.mfilter-tb-as-tr*/
  /*.mfilter-option*/
}
/* line 66, sass/megafilter.scss */
.mfilter-content > ul > li .mfilter-content-opts .mfilter-opts-container .mfilter-options .mfilter-tb .mfilter-tb-as-tr {
  display: block;
  /*.mfilter-tb-as-td*/
}
/* line 68, sass/megafilter.scss */
.mfilter-content > ul > li .mfilter-content-opts .mfilter-opts-container .mfilter-options .mfilter-tb .mfilter-tb-as-tr .mfilter-tb-as-td {
  border-top: none;
  display: block;
}
/* line 75, sass/megafilter.scss */
.mfilter-content > ul > li .mfilter-content-opts .mfilter-opts-container .mfilter-options .mfilter-tb .mfilter-option {
  overflow: hidden;
  /*.mfilter-col-input*/
  /*.mfilter-col-count*/
}
/* line 77, sass/megafilter.scss */
.mfilter-content > ul > li .mfilter-content-opts .mfilter-opts-container .mfilter-options .mfilter-tb .mfilter-option .mfilter-col-input {
  width: 90%;
  padding: 0;
  float: left;
}
/* line 81, sass/megafilter.scss */
.mfilter-content > ul > li .mfilter-content-opts .mfilter-opts-container .mfilter-options .mfilter-tb .mfilter-option .mfilter-col-input input {
  display: none;
}
/* line 83, sass/megafilter.scss */
.mfilter-content > ul > li .mfilter-content-opts .mfilter-opts-container .mfilter-options .mfilter-tb .mfilter-option .mfilter-col-input input:checked + label:before {
  background-position: 0 -13px;
}
/* line 87, sass/megafilter.scss */
.mfilter-content > ul > li .mfilter-content-opts .mfilter-opts-container .mfilter-options .mfilter-tb .mfilter-option .mfilter-col-input label {
  position: relative;
  padding-left: 25px;
}
/* line 90, sass/megafilter.scss */
.mfilter-content > ul > li .mfilter-content-opts .mfilter-opts-container .mfilter-options .mfilter-tb .mfilter-option .mfilter-col-input label:before {
  position: absolute;
  background: url("../image/checkbox-filter.png") no-repeat;
  background-position: 0 1px;
  width: 14px;
  height: 14px;
  content: "";
  top: 5px;
  left: 0;
  position: absolute;
}
/* line 103, sass/megafilter.scss */
.mfilter-content > ul > li .mfilter-content-opts .mfilter-opts-container .mfilter-options .mfilter-tb .mfilter-option .mfilter-col-input input[type="radio"] + label:before {
  position: absolute;
  background: none;
  border: 1px solid #0088d4;
  border-radius: 50%;
  background-position: 0 1px;
  width: 14px;
  height: 14px;
  content: "";
  top: 5px;
  left: 0;
  position: absolute;
}
/* line 116, sass/megafilter.scss */
.mfilter-content > ul > li .mfilter-content-opts .mfilter-opts-container .mfilter-options .mfilter-tb .mfilter-option .mfilter-col-input input[type="radio"]:checked + label:before {
  /*background: #ADE1FF;*/
  border: 1px solid #0088d4;
}
/* line 120, sass/megafilter.scss */
.mfilter-content > ul > li .mfilter-content-opts .mfilter-opts-container .mfilter-options .mfilter-tb .mfilter-option .mfilter-col-input input[type="radio"]:checked + label:after {
  position: absolute;
  background: #0088d4;
  width: 6px;
  height: 6px;
  top: 9px;
  left: 4px;
  border-radius: 50%;
  content: "";
}
/* line 133, sass/megafilter.scss */
.mfilter-content > ul > li .mfilter-content-opts .mfilter-opts-container .mfilter-options .mfilter-tb .mfilter-option .mfilter-col-count {
  float: right;
  width: 6%;
  margin-right: 4%;
}
/* line 147, sass/megafilter.scss */
.mfilter-content > ul > li .mfilter-content-opts .mfilter-live-filter {
  padding: 10px 10px 10px 24px;
}
/* line 149, sass/megafilter.scss */
.mfilter-content > ul > li .mfilter-content-opts .mfilter-live-filter input[type="text"] {
  background-position: -35px -99px;
}

/* line 160, sass/megafilter.scss */
.mfilter-content ul li[data-type="rating"] {
  /*.mfilter-option*/
}
/* line 161, sass/megafilter.scss */
.mfilter-content ul li[data-type="rating"] .mfilter-option {
  overflow: hidden;
  /*.mfilter-col-input*/
  /*.mfilter-col-count*/
}
/* line 163, sass/megafilter.scss */
.mfilter-content ul li[data-type="rating"] .mfilter-option img {
  margin-top: -4px;
  margin-left: 3px;
}
/* line 167, sass/megafilter.scss */
.mfilter-content ul li[data-type="rating"] .mfilter-option .mfilter-col-input {
  width: 90%;
  padding: 0;
  float: left;
}
/* line 171, sass/megafilter.scss */
.mfilter-content ul li[data-type="rating"] .mfilter-option .mfilter-col-input input {
  display: none;
}
/* line 173, sass/megafilter.scss */
.mfilter-content ul li[data-type="rating"] .mfilter-option .mfilter-col-input input:checked + label:before {
  background-position: 0 -13px;
}
/* line 177, sass/megafilter.scss */
.mfilter-content ul li[data-type="rating"] .mfilter-option .mfilter-col-input label {
  position: relative;
  padding-left: 25px;
  padding-top: 1px;
}
/* line 181, sass/megafilter.scss */
.mfilter-content ul li[data-type="rating"] .mfilter-option .mfilter-col-input label:before {
  position: absolute;
  background: url("../image/checkbox-filter.png") no-repeat;
  background-position: 0 1px;
  width: 14px;
  height: 14px;
  content: "";
  top: 3px !important;
  left: 0;
  position: absolute;
}
/* line 195, sass/megafilter.scss */
.mfilter-content ul li[data-type="rating"] .mfilter-option .mfilter-col-count {
  float: right;
  width: 7%;
  margin-right: 1%;
}

/*rating*/
/* line 209, sass/megafilter.scss */
.mfilter-content ul li[data-type="search"] .mfilter-options {
  padding-right: 18px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

/*search*/
/* line 219, sass/megafilter.scss */
.mfilter-content ul li[data-type="price"] {
  /*.mfilter-opts-container*/
}
/* line 220, sass/megafilter.scss */
.mfilter-content ul li[data-type="price"] .mfilter-opts-container {
  padding-top: 13px;
  /*.mfilter-options*/
}
/* line 222, sass/megafilter.scss */
.mfilter-content ul li[data-type="price"] .mfilter-opts-container .mfilter-options {
  /*.mfilter-option */
}
/* line 223, sass/megafilter.scss */
.mfilter-content ul li[data-type="price"] .mfilter-opts-container .mfilter-options .mfilter-option {
  /*.mfilter-price-inputs*/
  /*.mfilter-price-slider*/
}
/* line 224, sass/megafilter.scss */
.mfilter-content ul li[data-type="price"] .mfilter-opts-container .mfilter-options .mfilter-option .mfilter-price-inputs {
  margin-bottom: 16px;
}
/* line 226, sass/megafilter.scss */
.mfilter-content ul li[data-type="price"] .mfilter-opts-container .mfilter-options .mfilter-option .mfilter-price-inputs span.priceTo {
  margin-left: 25%;
}
/* line 230, sass/megafilter.scss */
.mfilter-content ul li[data-type="price"] .mfilter-opts-container .mfilter-options .mfilter-option .mfilter-price-inputs #mfilter-opts-price-min,
.mfilter-content ul li[data-type="price"] .mfilter-opts-container .mfilter-options .mfilter-option .mfilter-price-inputs #mfilter-opts-price-max {
  width: 72px;
  background: #f8f8f8;
  min-width: 50px;
  font-size: 13px;
  color: #939393;
}
/* line 237, sass/megafilter.scss */
.mfilter-content ul li[data-type="price"] .mfilter-opts-container .mfilter-options .mfilter-option .mfilter-price-inputs span {
  color: #535353;
  font-size: 13px;
  margin-right: 3px;
}
/* line 244, sass/megafilter.scss */
.mfilter-content ul li[data-type="price"] .mfilter-opts-container .mfilter-options .mfilter-option .mfilter-price-slider {
  background: none !important;
  padding: 0 0 32px 0px !important;
  /*div#mfilter-price-slider*/
}
/* line 247, sass/megafilter.scss */
.mfilter-content ul li[data-type="price"] .mfilter-opts-container .mfilter-options .mfilter-option .mfilter-price-slider div.priceStatic {
  width: 14%;
  color: #939393;
  margin-top: 8px;
}
/* line 252, sass/megafilter.scss */
.mfilter-content ul li[data-type="price"] .mfilter-opts-container .mfilter-options .mfilter-option .mfilter-price-slider div.priceMin {
  margin-left: -14px;
  float: left;
}
/* line 256, sass/megafilter.scss */
.mfilter-content ul li[data-type="price"] .mfilter-opts-container .mfilter-options .mfilter-option .mfilter-price-slider div.priceMax {
  margin-right: -5px;
  float: right;
}
/* line 260, sass/megafilter.scss */
.mfilter-content ul li[data-type="price"] .mfilter-opts-container .mfilter-options .mfilter-option .mfilter-price-slider div#mfilter-price-slider {
  margin: 10px 12px 0 0 !important;
  background: #eaeaea !important;
  height: 2px !important;
  position: relative;
  /*.ui-slider-handle*/
  /*.ui-slider-range*/
}
/* line 266, sass/megafilter.scss */
.mfilter-content ul li[data-type="price"] .mfilter-opts-container .mfilter-options .mfilter-option .mfilter-price-slider div#mfilter-price-slider:after, .mfilter-content ul li[data-type="price"] .mfilter-opts-container .mfilter-options .mfilter-option .mfilter-price-slider div#mfilter-price-slider:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #eaeaea;
  display: block;
  position: absolute;
  right: 0px;
  top: -2px;
}
/* line 277, sass/megafilter.scss */
.mfilter-content ul li[data-type="price"] .mfilter-opts-container .mfilter-options .mfilter-option .mfilter-price-slider div#mfilter-price-slider:before {
  left: 0;
}
/* line 280, sass/megafilter.scss */
.mfilter-content ul li[data-type="price"] .mfilter-opts-container .mfilter-options .mfilter-option .mfilter-price-slider div#mfilter-price-slider .ui-slider-range {
  background: #8cc3e1 !important;
}
/* line 283, sass/megafilter.scss */
.mfilter-content ul li[data-type="price"] .mfilter-opts-container .mfilter-options .mfilter-option .mfilter-price-slider div#mfilter-price-slider .ui-slider-handle {
  width: 20px !important;
  height: 20px !important;
  background: #0088d4 !important;
  border-radius: 50%;
  top: -0.75em !important;
}

/*price*/
