body[class="product-compare"] {
    table.myTable>tbody>tr>td {
        max-width: 100px;
    }
    table.myTable {
        &>tbody {
            &>tr {
                &:nth-child(3) td {
                    &:first-child {
                        color: #667;
                        font-size: 12px;
                    }
                    color: #35a800;
                    font-size: 20px;
                }
                td {}
            }
        }
    }
    table.myTable>tbody>tr>td:first-child {
        max-width: 50px;
    }
    tr.forButton td {
        input {
            background: url('../image/shopping_cart.png')no-repeat 15px center;
            width: 150px;
            border-radius: 5px;
            font-size: 22px;
            font-weight: 100;
            text-transform: uppercase;
            color: #FFF;
            padding: 20px 42px;
            line-height: 0px;
            border: medium none;
            text-align: center;
            background-color: #35a800;
            margin: 0 auto;
        }
        a {
            width: 150px;
            border-radius: 5px;
            font-size: 22px;
            font-weight: 100;
            text-transform: uppercase;
            color: #667;
            padding: 20px 28px;
            line-height: 0px;
            border: 1px solid;
            text-align: center;
            background: #fff !important;
            margin: 0 auto;
            box-shadow: none;
        }
        a,
        input {
            margin: 5px auto;
        }
    }
}